@(status: actors.StatusResp)

@main(status.processed.toString){


<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Шаг 2. Дождитесь завершения валидации</h3>
    </div>
    <div class="panel-body">
<dl>
    <dt>Cooldown</dt>
    <dd>@status.cooldown</dd>
    <dt>Pause</dt>
    <dd>@status.pause</dd>
    <dt>Processed</dt>
    <dd>@status.processed</dd>
    <dt>Finished</dt>
    <dd>@status.finished</dd>
    <dt>Throughput Requests/Hour</dt>
    <dd>@status.throughputPerHour</dd>
</dl>

    </div>
    </div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Информация. Список каналов выполнения запросов</h3>
    </div>
    <div class="panel-body">

<table>
    <tr>
        <th>NAME></th>
        <th>TPH</th>
        <th>G</th>
        <th>B</th>
        <th>M</th>
        <th>TAN</th>
    </tr>
    @for(stat <- status.slavesStat) {
    <tr>
        <td>@stat._1</td>
        <td>@stat._2.throuputPerHour</td>
        <td>@stat._2.good</td>
        <td>@stat._2.bad</td>
        <td>@stat._2.mrim</td>
        <td>@stat._2.toAnother</td>
    </tr>
    }

</table>
</div>
    </div>
<script language="JavaScript">
setTimeout(function () { location.reload(1); }, 5000);
</script>
}
